ProdIND/ProdLWC/force-app/main/default/flows/Incident_Management_Case_close_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_UserId</name>
        <label>Assign UserId</label>
        <locationX>907</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>NotificationReceipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>affectedUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_to_User</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IncidentRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128n0000004JzPAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_current_case_status</name>
        <label>Check current case status</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Closing_Picklist_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_case_is_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Case</targetReference>
            </connector>
            <label>Check case is closed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>casedisposition1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Disposition__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Incident Management Case close screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident Management Case close screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>772</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_current_case_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>affectedUserId</assignToReference>
            <field>Affected_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseNo</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentDisposition</assignToReference>
            <field>Case_Disposition__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentRCAtype</assignToReference>
            <field>RCA_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rootcausedetails</assignToReference>
            <field>Root_Cause_details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_UserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Disposition__c</field>
            <value>
                <elementReference>CaseDisposition0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flowbypassvalidationdatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause_details__c</field>
            <value>
                <elementReference>Root_cause_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Closed_Case</name>
        <label>Closed Case</label>
        <locationX>644</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Closed_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Closed_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseAlreadyClosed</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Case is already closed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closing_Picklist_values</name>
        <label>Closing Picklist values</label>
        <locationX>908</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Closing_Picklist_values_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Closing_Picklist_values_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseDisposition0</name>
                    <choiceReferences>casedisposition1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentDisposition</elementReference>
                    </defaultValue>
                    <fieldText>Case Disposition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Root_cause_details</name>
                    <defaultValue>
                        <stringValue>{!rootcausedetails}</stringValue>
                    </defaultValue>
                    <fieldText>Root Cause Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notification_to_User</name>
        <label>Notification to User</label>
        <locationX>903</locationX>
        <locationY>850</locationY>
        <flowName>Case_User_Notification</flowName>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Case_ID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseNo</name>
            <value>
                <elementReference>caseNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationReceipients</name>
            <value>
                <elementReference>NotificationReceipients</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your case {!caseNo} has been closed.</text>
    </textTemplates>
    <variables>
        <name>affectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>casedisposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentDisposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentRCAtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationReceipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcatype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rootcausedetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
