ProdIND/ProdLWC/force-app/main/default/flows/Mahindra_Reverse_Status_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reverse_API_Integration_Engine</name>
        <label>Reverse API - Integration Engine</label>
        <locationX>710</locationX>
        <locationY>623</locationY>
        <actionName>IntegrationEngine</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>code</name>
            <value>
                <elementReference>StatusCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoanId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationEngine</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Loan_Application_Status</name>
        <label>Check Loan Application Status</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WITHDRAWN_Metadata</targetReference>
            </connector>
            <label>Application Withdrawn</label>
        </rules>
        <rules>
            <name>Application_Sanctioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sanctioned_Metadata</targetReference>
            </connector>
            <label>Application Sanctioned</label>
        </rules>
        <rules>
            <name>CAM_REJECTED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsRejected__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsRejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Metadata</targetReference>
            </connector>
            <label>CAM REJECTED</label>
        </rules>
        <rules>
            <name>Credit_Processing_L2_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnderProcess_Metadata</targetReference>
            </connector>
            <label>Credit Processing L2 Stage</label>
        </rules>
        <rules>
            <name>Payment_Request_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Request_Generation_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Request_Generation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disbursed_Metadata</targetReference>
            </connector>
            <label>Payment Request Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mahindra Reverse Status API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mahindra Reverse Status API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Disbursed_Metadata</name>
        <label>Disbursed Metadata</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reverse_API_Integration_Engine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mahindra_DISBURSED</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rejected_Metadata</name>
        <label>Rejected Metadata</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reverse_API_Integration_Engine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mahindra_REJECTED</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Sanctioned_Metadata</name>
        <label>Sanctioned Metadata</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reverse_API_Integration_Engine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mahindra_SANCTIONED</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UnderProcess_Metadata</name>
        <label>UnderProcess Metadata</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reverse_API_Integration_Engine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mahindra_UNDER_PROCESS</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WITHDRAWN_Metadata</name>
        <label>WITHDRAWN Metadata</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reverse_API_Integration_Engine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mahindra_WITHDRAWN</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Loan_Application_Status</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital-Mahindra-Custom</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital-Mahindra-PreA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passenger Vehicles</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
