ProdIND/ProdLWC/force-app/main/default/flows/NCM_SCM_RCU_Case_Loan_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Notification_to_User</name>
        <label>Send Notification to User</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipienIdtList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>get_Case.Loan_Application__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Manager_and_Status</name>
        <label>Assign Manager and Status</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.RCU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.NCM_SCM_Loan_Approval_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NCM_SCM_Loan_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manager_and_Status_0</name>
        <label>Assign Manager and Status</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.RCU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.NCM_SCM_Loan_Approval_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NCM_SCM_Loan_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Loan_application_journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipient</name>
        <label>assign recipient</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recipienIdtList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Case.Loan_Application__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipienIdtList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Case.Loan_Application__r.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipienIdtList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Case.RCU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_User</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>d</name>
        <choiceText>f</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>f</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Approved_Reject</name>
        <label>Check Approved/Reject</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NCM_SCM_Loan_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manager_and_Status</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NCM_SCM_Loan_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manager_and_Status_0</targetReference>
            </connector>
            <label>reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Descision_to_check_Approve_or_Reject</name>
        <label>Descision to check  Approve or Reject</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>End_Msg_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Msg</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <description>Field Add in Update opportunity</description>
    <dynamicChoiceSets>
        <name>LoanProcessPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NCM_SCM_Loan_Approval_status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NCM/SCM Loan Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCM/SCM RCU Case Loan Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_for_loan_Application_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_to_Onwer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Descision_to_check_Approve_or_Reject</targetReference>
        </connector>
        <inputReference>get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Loan_application_journey</name>
        <label>update Loan application journey</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.Loan_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journey_Status__c</field>
            <value>
                <stringValue>Stop</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey_Stop_Reason__c</field>
            <value>
                <stringValue>Journey of this loan Application is stopped as RCU case has been Rejected.</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>End_Msg</name>
        <label>End Msg</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(17, 123, 176); background-color: rgb(255, 255, 255);&quot;&gt;Case has been successfully submitted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Msg_0</name>
        <label>End Msg</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayMsg_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(17, 123, 176); font-size: 18px;&quot;&gt;Loan Application Journey is Stopped as RCU Case has been Rejected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_for_loan_Application_Status</name>
        <label>screen for loan Application Status</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Approved_Reject</targetReference>
        </connector>
        <fields>
            <name>NCM_SCM_Loan_Approval_Status</name>
            <choiceReferences>LoanProcessPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NCM/SCM Loan Approval Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RCU case ({!get_Case.CaseNumber}) has been Rejected.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loan Application journey Stop {!get_Case.Loan_Application__r.Name}</text>
    </textTemplates>
    <variables>
        <name>recipienIdtList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
