ProdIND/ProdLWC/force-app/main/default/flows/SMS_Reminder_For_Consent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_For_Consent_By_SMS</name>
        <label>Reminder For Consent By SMS</label>
        <locationX>552</locationX>
        <locationY>358</locationY>
        <actionName>IND_SmsConsentReminder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>ApplicantRecordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IND_SmsConsentReminder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decsion_For_SMS</name>
        <label>Decsion For SMS</label>
        <locationX>682</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Consent_OTP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetApplicantRecords</targetReference>
            </connector>
            <label>Consent Verification</label>
        </rules>
    </decisions>
    <description>Added filter in Dummy get records</description>
    <environments>Default</environments>
    <interviewLabel>SMS Reminder For Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS Reminder For Consent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dummy</name>
        <label>Dummy</label>
        <locationX>199</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consent_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApplicantRecords</name>
        <label>GetApplicantRecords</label>
        <locationX>729</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reminder_For_Consent_By_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Consent_OTP__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>ApplicantRecordIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>143</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Dummy</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Consent_OTP__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Consent_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Applicant__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>ReminderAfter24hrs</name>
            <connector>
                <targetReference>Decsion_For_SMS</targetReference>
            </connector>
            <label>ReminderAfter24hrs</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Application_Form_SMS_Sent__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ReminderAfter48hrs</name>
            <connector>
                <targetReference>Decsion_For_SMS</targetReference>
            </connector>
            <label>ReminderAfter48hrs</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Application_Form_SMS_Sent__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ReminderAfter72hrs</name>
            <connector>
                <targetReference>Decsion_For_SMS</targetReference>
            </connector>
            <label>ReminderAfter72hrs</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Application_Form_SMS_Sent__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantRecordIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
