ProdIND/ProdLWC/force-app/main/default/flows/Update_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_each_case</name>
        <label>assign each case</label>
        <locationX>453</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>each_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application withdrawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_all_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Each_Log</name>
        <label>Assign Each Log</label>
        <locationX>867</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Each_log.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_log.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Proposal_Log.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_all_cases</name>
        <label>update all cases</label>
        <locationX>603</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>updatecase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Log</name>
        <label>Update Log</label>
        <locationX>644</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>UpdateLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Proposal_Log</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case</label>
    <loops>
        <name>loop_CAM</name>
        <label>loop CAM</label>
        <locationX>636</locationX>
        <locationY>702</locationY>
        <collectionReference>get_CAM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Proposal_Log</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Proposal_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_cases</name>
        <label>loop cases</label>
        <locationX>239</locationX>
        <locationY>466</locationY>
        <collectionReference>get_case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_each_case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Proposal_Log</name>
        <label>Loop Proposal Log</label>
        <locationX>747</locationX>
        <locationY>887</locationY>
        <collectionReference>get_Proposal_Log</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Each_Log</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_CAM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CAM</name>
        <label>get CAM</label>
        <locationX>414</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CAM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>366</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_cases</targetReference>
        </connector>
        <filterLogic>1 AND NOT(2) AND NOT(3) AND NOT(4) AND 5</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AML Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Off Roll Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TVR</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GET_Incident_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Incident_Record_Type</name>
        <label>GET Incident Record Type</label>
        <locationX>463</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Proposal_Log</name>
        <label>get Proposal Log</label>
        <locationX>853</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Proposal_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_CAM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_CAM.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Proposal_Approval_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>231</locationX>
        <locationY>702</locationY>
        <connector>
            <targetReference>get_CAM</targetReference>
        </connector>
        <inputReference>updatecase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Proposal_Log</name>
        <label>update Proposal Log</label>
        <locationX>373</locationX>
        <locationY>927</locationY>
        <inputReference>UpdateLog</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GET_Incident_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>each_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Each_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal_Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>updatecase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateLog</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal_Approval_Log__c</objectType>
    </variables>
</Flow>
