ProdIND/ProdLWC - Copy/force-app/main/default/flows/Case_Status_Check_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_team_role_to_FI</name>
        <label>Assign team role to FI</label>
        <locationX>1294</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>TeamMemberRole</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Opportunity_team_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_team_role_to_MA</name>
        <label>Assign team role to MA</label>
        <locationX>1120</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>TeamMemberRole</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Opportunity_team_member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_prior_and_current_status</name>
        <label>Check prior and current status</label>
        <locationX>574</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Pending_with_cmu_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with CMU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_owner_of_case</targetReference>
            </connector>
            <label>check Pending with cmu status</label>
        </rules>
        <rules>
            <name>check_FI_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI-Unassigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_owner_of_case</targetReference>
            </connector>
            <label>check FI status</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_record_present_on_team_member</name>
        <label>check record present on team member</label>
        <locationX>598</locationX>
        <locationY>843</locationY>
        <defaultConnector>
            <targetReference>Check_status_of_the_case_for_team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_team_member_present_or_not</targetReference>
            </connector>
            <label>Record Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status_of_the_case_for_team_member</name>
        <label>Check status  of the case for team member</label>
        <locationX>1094</locationX>
        <locationY>895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status_of_case_for_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_team_role_to_MA</targetReference>
            </connector>
            <label>Check Status of case for MA</label>
        </rules>
        <rules>
            <name>Check_status_for_case_for_FI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_team_role_to_FI</targetReference>
            </connector>
            <label>Check status for case for FI</label>
        </rules>
    </decisions>
    <decisions>
        <name>team_member_already_present</name>
        <label>team member already present</label>
        <locationX>599</locationX>
        <locationY>1185</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_member_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Opportunity_team_member_present_or_not.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CaseOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_status_of_the_case_for_team_member</targetReference>
            </connector>
            <label>Team member not present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Status Check Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Check Flow</label>
    <loops>
        <name>Check_Opportunity_team_member_present_or_not</name>
        <label>Check Opportunity team member present or not</label>
        <locationX>606</locationX>
        <locationY>1010</locationY>
        <collectionReference>Get_Opportunity_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>team_member_already_present</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Opportunity_team_member</name>
        <label>Insert Opportunity team member</label>
        <locationX>1219</locationX>
        <locationY>1307</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>CaseLoanApplication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <elementReference>TeamMemberRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>CaseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Team_members</name>
        <label>Get Opportunity Team members</label>
        <locationX>599</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_record_present_on_team_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseLoanApplication</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_owner_of_case</name>
        <label>Get owner of case</label>
        <locationX>594</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseLoanApplication</assignToReference>
            <field>Loan_Application__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>460</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_prior_and_current_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseLoanApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamMemberRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
