ProdIND/ProdLWC - Copy/force-app/main/default/flows/Document_Assign_to_RCU_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Remove_RCU_Case_from_Doc</name>
        <label>Remove RCU Case from Doc</label>
        <locationX>643</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>$Record.RCU_Case__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_RCU_Case_on_Doc</name>
        <label>Update RCU Case on Doc</label>
        <locationX>1615</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>$Record.RCU_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RCU_case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RCU_Agency_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_Active_document</name>
        <label>check Active document</label>
        <locationX>806</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual_Applicant</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) OR 7) AND 5 AND 6 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Tractor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Photocopy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__r.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RCU_Agency_Verification_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Document_0</targetReference>
            </connector>
            <label>Individual Applicant</label>
        </rules>
        <rules>
            <name>Non_Individual_Applicant</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) ) AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Tractor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__r.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RCU_Agency_Verification_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Document_0_0</targetReference>
            </connector>
            <label>Non-Individual Applicant</label>
        </rules>
        <rules>
            <name>Document_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.is_Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Relation__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Tractor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_RCU_Case_from_Doc</targetReference>
            </connector>
            <label>Document is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Document_0</name>
        <label>check Document</label>
        <locationX>1069</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_for_RCU_Case_0</name>
            <conditionLogic>(2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 33 OR 34 OR 35 OR 36 OR 37 OR 38 OR 39 OR 40) OR (1 AND 32)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electronic Bill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>House Tax Receipt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased land proof</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foreclosure letter for closed existing loan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan NOC other Bank</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Statement 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Statement 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Statement 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ITR-Forms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salary certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affidavit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talathi/Sarpanch Certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subsidy sanction letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller&apos;s Bank Statement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banker&apos;s signature verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update RC Docuemnt(Original)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer-Seller Undertaking letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indemnity letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance Cover Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance Policy Doc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower&apos;s Bank Statement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Co-Borrower&apos;s Bank Statement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ITR-V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Photocopy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PanCards</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Form60DocumentType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.VoterIdCard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AadhaarCard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PassportCard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DrivingLicences</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RC Copy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Holder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RecordType</targetReference>
            </connector>
            <label>Valid for RCU Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Document_0_0</name>
        <label>check Document</label>
        <locationX>1073</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_for_RCU_Case_0_0</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36 OR 37 OR 38 OR 39 OR 40 OR 41 OR 42 OR 43 OR 44 OR 45 OR 46 OR 47 OR 48 OR 49 OR 50 OR 51)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>House Tax Receipt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller Bank Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower Bank Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Co-Borrower Bank Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased land proof</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update RC Docuemnt(Original)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer-Seller Undertaking letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foreclosure letter for closed existing loan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan NOC other Bank</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Statement 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Statement 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Statement 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OD clearance proof 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ITR-V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salary certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affidavit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talathi/Sarpanch Certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subsidy sanction letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNERSHIP DEED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNERSHIP REGISTRATION CERT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MEMORANDUM OF ASSOCIATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARTICLES OF ASSOCIATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUST DEED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHOPS AND ESTABLISHMENT CERTIFICATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GST CERTIFICATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDYAM REGISTRATION CERTIFICATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SALES TAX REGISTRATION CERTIFICATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSME REGISTRATION CERTIFICATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDYOG AADHAAR REG CERTIFICATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility bill in the name of company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ITR-Forms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banker&apos;s signature verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indemnity letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance Cover Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CERTIFICATE OF COMMENCEMENT OF BUSINESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CERTIFICATE OF INCORPORATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PanCards</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Form60DocumentType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.VoterIdCard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AadhaarCard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PassportCard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DrivingLicences</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Holder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RC Copy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RecordType</targetReference>
            </connector>
            <label>Valid for RCU Case</label>
        </rules>
    </decisions>
    <description>Adding Non Individual document check V7</description>
    <environments>Default</environments>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Document Assign to RCU Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Assign to RCU Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_RCU_case</name>
        <label>get RCU case</label>
        <locationX>1454</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RCU_Case_on_Doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Relation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>get RecordType</label>
        <locationX>1315</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RCU_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RCU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>686</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>check_Active_document</targetReference>
        </connector>
        <object>Documents__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
