ProdIND/ProdLWC - Copy/force-app/main/default/flows/Key_Fact_Reverse_status_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CRMNEXT_Reverse_Status_API_Action_1</name>
        <label>CRMNEXT Reverse Status API Action 1</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <actionName>IntegrationEngine_Helper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>keyfactId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationEngine_Helper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Status_as_ACCEPTED</name>
        <label>Assign Status as ACCEPTED</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRMNEXT_Reverse_Status_API_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_as_NEED_CLARIFICATION</name>
        <label>Assign Status as NEED CLARIFICATION</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Clarification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRMNEXT_Reverse_Status_API_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_as_REJECT</name>
        <label>Assign Status as REJECT</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRMNEXT_Reverse_Status_API_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_of_Key_fact_statement_and_call_Reverse_Status_API_for_Prolendz</name>
        <label>Check Status of Key fact statement and call Reverse Status API for Prolendz</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Key_Fact_Statement_Rejects_Send_REJECT_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keyfact_Consent_Received_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyfact_Consent_Not_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_REJECT</targetReference>
            </connector>
            <label>When Key Fact Statement Rejects Send REJECT Status</label>
        </rules>
        <rules>
            <name>When_Key_Fact_Statement_Need_Clarification_Send_NEED_CLARIFICATION_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keyfact_Consent_Received_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyfact_Consent_Need_Clarification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_NEED_CLARIFICATION</targetReference>
            </connector>
            <label>When Key Fact Statement Need Clarification Send NEED CLARIFICATION Status</label>
        </rules>
        <rules>
            <name>When_Key_Fact_Statement_Rejects_Send_ACCEPT_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keyfact_Consent_Received_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyfact_Consent_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_ACCEPTED</targetReference>
            </connector>
            <label>When Key Fact Statement Rejects Send ACCEPT Status</label>
        </rules>
    </decisions>
    <description>This flow checks the key fact statement status from end user and send the reverse status to Prolendz</description>
    <environments>Default</environments>
    <interviewLabel>Key Fact Reverse status flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Key Fact Reverse status flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_of_Key_fact_statement_and_call_Reverse_Status_API_for_Prolendz</targetReference>
        </connector>
        <object>Key_Fact_Statement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
