ProdIND/ProdLWC - Copy/force-app/main/default/flows/NCM_SCM_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_User</name>
        <label>Send Notification to User</label>
        <locationX>593</locationX>
        <locationY>2228</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_Rejected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipienIdtList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_parent_case.Loan_Application__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Case_Remark</name>
        <label>Assign Case Remark</label>
        <locationX>1613</locationX>
        <locationY>2082</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRemark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Case_Null_Check_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Remark_0</name>
        <label>Assign Case Remark</label>
        <locationX>1399</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRemark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_to_check_rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Remark_0_0</name>
        <label>Assign Case Remark</label>
        <locationX>989</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-clear Profile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_docs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Remark_0_0_0</name>
        <label>Assign Case Remark</label>
        <locationX>978</locationX>
        <locationY>1759</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-clear Document</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_docs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Remark_0_0_0_0</name>
        <label>Assign Case Remark</label>
        <locationX>982</locationX>
        <locationY>1761</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refer to Credit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_docs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Remark_0_0_0_0_0</name>
        <label>Assign Case Remark</label>
        <locationX>991</locationX>
        <locationY>1777</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_docs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Remark_0_0_0_0_0_0</name>
        <label>Assign Case Remark</label>
        <locationX>999</locationX>
        <locationY>1728</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_docs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Status_Closed</name>
        <label>Assign Parent Status Closed</label>
        <locationX>1616</locationX>
        <locationY>1761</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clear</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDocument_From_All_related_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Status_Reinitiated</name>
        <label>Assign Parent Status Reinitiated</label>
        <locationX>2147</locationX>
        <locationY>2192</locationY>
        <assignmentItems>
            <assignToReference>Get_parent_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReInitiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Agency_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Verification_Remarks__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Case_Null_Check_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipient</name>
        <label>assign recipient</label>
        <locationX>592</locationX>
        <locationY>2107</locationY>
        <assignmentItems>
            <assignToReference>recipienIdtList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_parent_case.Loan_Application__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipienIdtList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_parent_case.Loan_Application__r.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipienIdtList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_parent_case.RCU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remark</name>
        <label>Assign remark</label>
        <locationX>2028</locationX>
        <locationY>1969</locationY>
        <assignmentItems>
            <assignToReference>varRemark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllRemarks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remark_0</name>
        <label>Assign remark</label>
        <locationX>1401</locationX>
        <locationY>1456</locationY>
        <assignmentItems>
            <assignToReference>varRemark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllRemark1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Remark_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Of_Case</name>
        <label>Assign Status Of Case</label>
        <locationX>842</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_parent_case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Child_Cases_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Of_Case_0</name>
        <label>Assign Status Of Case</label>
        <locationX>385</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_parent_case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReInitiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Agency_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_parent_case.Overall_RCU_Agency_Verification_Remarks__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Case_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Of_Case_0_0</name>
        <label>Assign Status Of Case</label>
        <locationX>1620</locationX>
        <locationY>1231</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_parent_case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Child_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_To_Count_Total_Documents</name>
        <label>Assignment To Count Total Documents</label>
        <locationX>902</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>TotalApproved</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_NCM_Related_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_NCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_To_Count_Total_Documents_0</name>
        <label>Assignment To Count Total Documents</label>
        <locationX>2575</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>TotalApproved</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_SCM_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_SCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Approved</name>
        <label>Set Document Approved</label>
        <locationX>1783</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>VarApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedCounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_NCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Approved_0</name>
        <label>Set Document Approved</label>
        <locationX>3455</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>VarApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedCounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_SCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Reinitiated_0</name>
        <label>Set Document Reinitiated</label>
        <locationX>1521</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>VarReInitiate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReInitiatedCounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Each_NCM_Document.RCU_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Each_NCM_Document.Reinitiation_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreamentWith1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Each_NCM_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_NCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Reinitiated_0_0</name>
        <label>Set Document Reinitiated</label>
        <locationX>3191</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>VarReInitiate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReInitiatedCounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Each_SCM_Document.RCU_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Each_SCM_Document.Reinitiation_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Increment_With_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Each_SCM_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_SCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Rejected_0</name>
        <label>Set Document Rejected</label>
        <locationX>1256</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RejectedCounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_NCM_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Rejected_0_0</name>
        <label>Set Document Rejected</label>
        <locationX>2927</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>varRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RejectedCounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_SCM_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_case</name>
        <label>check case</label>
        <locationX>657</locationX>
        <locationY>1825</locationY>
        <defaultConnector>
            <targetReference>check_Case_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>case Is Null</defaultConnectorLabel>
        <rules>
            <name>caseNot_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Case</targetReference>
            </connector>
            <label>case Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Case_status</name>
        <label>check Case status</label>
        <locationX>822</locationX>
        <locationY>1998</locationY>
        <defaultConnector>
            <targetReference>Case_Submitted_Successfully</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Reject</defaultConnectorLabel>
        <rules>
            <name>IsReject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomNotification</targetReference>
            </connector>
            <label>IsReject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Document_0</name>
        <label>Check Document</label>
        <locationX>1529</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Set_Document_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Document Approved?</defaultConnectorLabel>
        <rules>
            <name>Is_NCM_Status_Comment_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_NCM_Document.NCM_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Each_NCM_Document.NCM_Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Error_Screen</targetReference>
            </connector>
            <label>Is NCM Status/Comment Null?</label>
        </rules>
        <rules>
            <name>Is_Set_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_NCM_Document.NCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Rejected_0</targetReference>
            </connector>
            <label>Is Document Rejected?</label>
        </rules>
        <rules>
            <name>Is_Document_Reinitiated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_NCM_Document.NCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReInitiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Reinitiated_0</targetReference>
            </connector>
            <label>Is Document Reinitiated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Document_0_0</name>
        <label>Check Document</label>
        <locationX>3059</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Set_Document_Approved_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Document Approved?</defaultConnectorLabel>
        <rules>
            <name>Is_SCM_Status_Comment_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_SCM_Document.SCM_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Each_SCM_Document.SCM_Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Error_Screen</targetReference>
            </connector>
            <label>Is SCM Status/Comment Null?</label>
        </rules>
        <rules>
            <name>Is_Set_to_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_SCM_Document.SCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Rejected_0_0</targetReference>
            </connector>
            <label>Is Document Rejected?</label>
        </rules>
        <rules>
            <name>Is_Document_Reinitiated_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_SCM_Document.SCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReInitiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Reinitiated_0_0</targetReference>
            </connector>
            <label>Is Document Reinitiated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_NCM_SCM_Status</name>
        <label>check NCM/SCM Status</label>
        <locationX>2133</locationX>
        <locationY>1735</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Parent_related_docs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Re-initiated</defaultConnectorLabel>
        <rules>
            <name>isReinitiated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Parent_related_docs.SCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReInitiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Parent_related_docs.NCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReInitiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Status_Reinitiated</targetReference>
            </connector>
            <label>isReinitiated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Team_member</name>
        <label>Check Opportunity Team member</label>
        <locationX>374</locationX>
        <locationY>1803</locationY>
        <defaultConnector>
            <targetReference>check_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Team Member is null</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Team_member_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Team_Member</targetReference>
            </connector>
            <label>Opportunity Team member not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_sampled_status</name>
        <label>check sampled status</label>
        <locationX>1914</locationX>
        <locationY>1885</locationY>
        <defaultConnector>
            <targetReference>loop_on_docs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not sample</defaultConnectorLabel>
        <rules>
            <name>sampled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs.RCU_Agency_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sampled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_remark</targetReference>
            </connector>
            <label>sampled</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_status</name>
        <label>check status</label>
        <locationX>1103</locationX>
        <locationY>1644</locationY>
        <defaultConnector>
            <targetReference>loop_on_docs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonClear_profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Remark_0_0</targetReference>
            </connector>
            <label>Non Clear profile</label>
        </rules>
        <rules>
            <name>non_clear_doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Remark_0_0_0</targetReference>
            </connector>
            <label>non clear doc</label>
        </rules>
        <rules>
            <name>refer_to_credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refer to Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Remark_0_0_0_0</targetReference>
            </connector>
            <label>refer to credit</label>
        </rules>
        <rules>
            <name>Negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refer to Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Remark_0_0_0_0_0</targetReference>
            </connector>
            <label>Negative</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-clear Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refer to Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Remark_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_is_Resolved</name>
        <label>Check Status is Resolved</label>
        <locationX>1613</locationX>
        <locationY>1597</locationY>
        <defaultConnector>
            <targetReference>Update_Child_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Resolved</defaultConnectorLabel>
        <rules>
            <name>No_Other_case_Related_to_parent_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Child_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_parent_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Status_Closed</targetReference>
            </connector>
            <label>No Other case Related to parent case</label>
        </rules>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Child_Cases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Document_related_to_parent_case</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_SCM_or_NCM</name>
        <label>Check User SCM or NCM</label>
        <locationX>1869</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_NCM_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBL National Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NCM_Related_Documents</targetReference>
            </connector>
            <label>IS NCM User</label>
        </rules>
        <rules>
            <name>Is_SCM_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBL State Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_SCM_Documents</targetReference>
            </connector>
            <label>Is SCM User</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_to_check_rejected</name>
        <label>decision to check Rejected</label>
        <locationX>1251</locationX>
        <locationY>1561</locationY>
        <defaultConnector>
            <targetReference>loop_on_docs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rejected_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.NCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_docs_0.SCM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_status</targetReference>
            </connector>
            <label>rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_to_check_Sampled</name>
        <label>decision to check Sampled</label>
        <locationX>1221</locationX>
        <locationY>1447</locationY>
        <defaultConnector>
            <targetReference>loop_on_docs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sampled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_docs_0.RCU_Agency_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sampled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_remark_0</targetReference>
            </connector>
            <label>sampled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Check_Total_Document_Status</name>
        <label>Decision To Check Total Document Status</label>
        <locationX>902</locationX>
        <locationY>1202</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReInititaed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarReInitiate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Of_Case_0</targetReference>
            </connector>
            <label>ReInititaed</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRejected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Of_Case</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalApproved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Of_Case_0_0</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Null_Check</name>
        <label>Document Null Check</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>get_Opp_team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Document Is null</defaultConnectorLabel>
        <rules>
            <name>Document_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Document</targetReference>
            </connector>
            <label>Document Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Application_Null_Check</name>
        <label>Loan Application Null Check</label>
        <locationX>593</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>check_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan Application Is null</defaultConnectorLabel>
        <rules>
            <name>LoanApplicationNot_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Loan_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_loan_Appliaction_to_Journey_stop</targetReference>
            </connector>
            <label>Loan Application Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case_Null_Check</name>
        <label>Parent Case Null Check</label>
        <locationX>378</locationX>
        <locationY>1465</locationY>
        <defaultConnector>
            <targetReference>Document_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Case Is null</defaultConnectorLabel>
        <rules>
            <name>ParentCaseNot_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_0_0</targetReference>
            </connector>
            <label>Parent Case Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case_Null_Check_0</name>
        <label>Parent Case Null Check</label>
        <locationX>832</locationX>
        <locationY>1552</locationY>
        <defaultConnector>
            <targetReference>get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent CaseIs null</defaultConnectorLabel>
        <rules>
            <name>ParentCase_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_0</targetReference>
            </connector>
            <label>Parent Case Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case_Null_Check_0_0</name>
        <label>Parent Case Null Check</label>
        <locationX>1609</locationX>
        <locationY>2232</locationY>
        <defaultConnector>
            <targetReference>check_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent_Case Is null</defaultConnectorLabel>
        <rules>
            <name>Parent_Case_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Parent_Case</targetReference>
            </connector>
            <label>Parent_Case Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ApprovedCounts</name>
        <dataType>Number</dataType>
        <expression>{!VarApproved}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormForStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Profile&apos;), &apos;Non-clear Profile&apos;, IF(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Document&apos;) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Profile&apos;)) , &apos;Non-clear Document&apos;,IF(
ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Refer to Credit&apos;) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Document&apos;)) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Profile&apos;)), &apos;Refer to Credit&apos;,IF(
ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Negative&apos;) &amp;&amp;
NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Refer to Credit&apos;)) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Document&apos;)) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Profile&apos;)),&apos;Negative&apos;, IF(
ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Failed&apos;) &amp;&amp;
NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Negative&apos;)) &amp;&amp;
NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Refer to Credit&apos;)) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Document&apos;)) &amp;&amp; NOT(ISPICKVAL({!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}, &apos;Non-clear Profile&apos;)),&apos;Failed&apos;,&apos;&apos;
)))))</expression>
    </formulas>
    <formulas>
        <name>formulaForRemark</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!Remark_Form}, (LEN( {!Remark_Form}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>IncreamentWith1</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Check_Each_NCM_Document.Reinitiation_Count__c}) || ISNULL({!Check_Each_NCM_Document.Reinitiation_Count__c}) ,1,{!Check_Each_NCM_Document.Reinitiation_Count__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Increment_With_1</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Check_Each_SCM_Document.Reinitiation_Count__c}) || ISNULL({!Check_Each_SCM_Document.Reinitiation_Count__c}) ,1,{!Check_Each_SCM_Document.Reinitiation_Count__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NCM_SCM</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!loop_on_docs.SCM_Comment__c}, {!loop_on_docs.NCM_Comment__c})</expression>
    </formulas>
    <formulas>
        <name>NCM_SCM_1</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!loop_on_docs_0.SCM_Comment__c}, {!loop_on_docs_0.NCM_Comment__c})</expression>
    </formulas>
    <formulas>
        <name>ReInitiatedCounts</name>
        <dataType>Number</dataType>
        <expression>{!VarReInitiate}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RejectedCounts</name>
        <dataType>Number</dataType>
        <expression>{!varRejected}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Remark_Form</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!loop_on_docs.SCM_Comment__c}),IF(ISNULL({!loop_on_docs.NCM_Comment__c}),&apos;&apos;,{!loop_on_docs.NCM_Comment__c}),{!loop_on_docs.SCM_Comment__c})</expression>
    </formulas>
    <interviewLabel>NCM/SCM Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCM/SCM Approval Flow</label>
    <loops>
        <name>Check_Each_NCM_Document</name>
        <label>Check Each NCM Document</label>
        <locationX>902</locationX>
        <locationY>723</locationY>
        <collectionReference>Get_NCM_Related_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Document_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_To_Check_Total_Document_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Each_SCM_Document</name>
        <label>Check Each SCM Document</label>
        <locationX>2575</locationX>
        <locationY>722</locationY>
        <collectionReference>Get_Related_SCM_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Document_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_To_Check_Total_Document_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_docs</name>
        <label>loop on docs</label>
        <locationX>1803</locationX>
        <locationY>1966</locationY>
        <collectionReference>getDocument_From_All_related_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_sampled_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Case_Remark</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_docs_0</name>
        <label>loop on docs</label>
        <locationX>996</locationX>
        <locationY>1426</locationY>
        <collectionReference>getDocument_From_All_related_Case_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_to_check_Sampled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parent_Case_Null_Check_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Parent_related_docs</name>
        <label>Loop Over Parent related docs</label>
        <locationX>2134</locationX>
        <locationY>1594</locationY>
        <collectionReference>get_Document_related_to_parent_case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_NCM_SCM_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Parent_Status_Closed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Opportunity_Team_Member</name>
        <label>Delete Opportunity Team Member</label>
        <locationX>390</locationX>
        <locationY>1941</locationY>
        <connector>
            <targetReference>check_case</targetReference>
        </connector>
        <inputReference>get_Opp_team_member</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Child_Cases</name>
        <label>Get All Child Cases</label>
        <locationX>1620</locationX>
        <locationY>1387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_is_Resolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Child_Cases_1</name>
        <label>Get All Child Cases</label>
        <locationX>1007</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDocument_From_All_related_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1870</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_parent_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Document_related_to_parent_case</name>
        <label>get Document related to parent case</label>
        <locationX>1834</locationX>
        <locationY>1576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Parent_related_docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Loan_Application</name>
        <label>get Loan Application</label>
        <locationX>605</locationX>
        <locationY>1560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Application_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Loan_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NCM_Related_Documents</name>
        <label>Get NCM Related Documents</label>
        <locationX>904</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_To_Count_Total_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documents__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NCM_Status__c</queriedFields>
        <queriedFields>NCM_Comment__c</queriedFields>
        <queriedFields>Reinitiation_Count__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Opp_team_member</name>
        <label>get Opp team member</label>
        <locationX>216</locationX>
        <locationY>1829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Team_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Loan_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RCUAGY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_case</name>
        <label>Get parent case</label>
        <locationX>1871</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_SCM_or_NCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_SCM_Documents</name>
        <label>Get Related SCM Documents</label>
        <locationX>2575</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_To_Count_Total_Documents_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documents__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SCM_Status__c</queriedFields>
        <queriedFields>SCM_Comment__c</queriedFields>
        <queriedFields>Reinitiation_Count__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>614</locationX>
        <locationY>1981</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_to_Onwer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDocument_From_All_related_Case</name>
        <label>getDocument From All related Case</label>
        <locationX>1610</locationX>
        <locationY>1933</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_docs</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_All_Child_Cases.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCU_Agency_Verification_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sampled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RCU_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDocument_From_All_related_Case_0</name>
        <label>getDocument From All related Case</label>
        <locationX>1183</locationX>
        <locationY>1333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_docs_0</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_All_Child_Cases_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCU_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCU_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Case</name>
        <label>Update Child Case</label>
        <locationX>859</locationX>
        <locationY>1762</locationY>
        <connector>
            <targetReference>check_Case_status</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Document</name>
        <label>Update Document</label>
        <locationX>56</locationX>
        <locationY>1830</locationY>
        <connector>
            <targetReference>get_Opp_team_member</targetReference>
        </connector>
        <inputReference>DocumentsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_loan_Appliaction_to_Journey_stop</name>
        <label>Update loan Appliaction to Journey stop</label>
        <locationX>797</locationX>
        <locationY>1666</locationY>
        <connector>
            <targetReference>Update_Child_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_case.Loan_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journey_Status__c</field>
            <value>
                <stringValue>Stop</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey_Stop_Reason__c</field>
            <value>
                <stringValue>Journey of this loan Application is stopped as RCU case has been Rejected.</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Parent_Case</name>
        <label>update Parent Case</label>
        <locationX>1275</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>check_case</targetReference>
        </connector>
        <inputReference>Get_parent_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_0</name>
        <label>Update Parent Case</label>
        <locationX>605</locationX>
        <locationY>1449</locationY>
        <connector>
            <targetReference>get_Loan_Application</targetReference>
        </connector>
        <inputReference>Get_parent_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_0_0</name>
        <label>Update Parent Case</label>
        <locationX>387</locationX>
        <locationY>1620</locationY>
        <connector>
            <targetReference>Document_Null_Check</targetReference>
        </connector>
        <inputReference>Get_parent_case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Case Submitted Successfully.</description>
        <name>Case_Rejected</name>
        <label>Case Rejected.</label>
        <locationX>733</locationX>
        <locationY>2228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(17, 123, 176);&quot;&gt;Loan Application Journey is Stopped as RCU Case has been Rejected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Case Submitted Successfully.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Case Submitted Successfully.</description>
        <name>Case_Submitted_Successfully</name>
        <label>Case Submitted Successfully.</label>
        <locationX>981</locationX>
        <locationY>2148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(17, 123, 176);&quot;&gt;Case has been successfully submitted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Case Submitted Successfully.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validation_Error_Screen</name>
        <label>Validation Error Screen</label>
        <locationX>1005</locationX>
        <locationY>1015</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowValidationError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 7, 7);&quot;&gt;Please enter all mandatory field.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1745</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AllRemark1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varRemark}
{!eachDocData_1}</text>
    </textTemplates>
    <textTemplates>
        <name>AllRemarks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varRemark}
{!EachDocsData}</text>
    </textTemplates>
    <textTemplates>
        <name>eachDocData_1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!loop_on_docs_0.Name}
{!loop_on_docs_0.RCU_Agency_Verification_Status__c} , {!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c}
{!NCM_SCM_1}</text>
    </textTemplates>
    <textTemplates>
        <name>EachDocsData</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!loop_on_docs.Name}
{!loop_on_docs.RCU_Agency_Verification_Status__c} , {!loop_on_docs.RCU_Agency_Verification_Sub_Status__c}
{!NCM_SCM}</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RCU case ({!Get_Case.CaseNumber}) has been Rejected.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loan Application journey Stop {!Get_Case.Loan_Application__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>testremark</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varRemark}
{!loop_on_docs_0.Name}
{!loop_on_docs_0.RCU_Agency_Verification_Status__c}, {!loop_on_docs_0.RCU_Agency_Verification_Sub_Status__c} 
{!loop_on_docs_0.SCM_Comment__c}{!loop_on_docs_0.NCM_Comment__c}</text>
    </textTemplates>
    <variables>
        <name>DocumentsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documents__c</objectType>
    </variables>
    <variables>
        <name>IsDocumentReInitiated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsDocumentRejected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recipienIdtList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarReInitiate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRejected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRemark</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
