ProdIND/ProdLWC - Copy/force-app/main/default/flows/OLA_Reverse_Status_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_LoanID_statusName_status_Code_to_API</name>
        <label>Send LoanID statusName status Code to API</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <actionName>IntegrationEngine</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoanId</name>
            <value>
                <elementReference>$Record.Lead_number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationEngine</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Status_as_Disbursed</name>
        <label>Assign Status as Disbursed</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disbursed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_as_Rejected</name>
        <label>Assign Status as Rejected</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_as_Sanctioned</name>
        <label>Assign Status as Sanctioned</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sanctioned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_as_Withdrawn</name>
        <label>Assign Status as Withdrawn</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_of_loan_application_and_call_Reverse_Status_API_for_OLA</name>
        <label>Check Status of loan application and call Reverse Status API for OLA</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Sanction_Date_is_populated_send_SANCTIONED_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_Sanctioned</targetReference>
            </connector>
            <label>When Sanction Date is populated send SANCTIONED status</label>
        </rules>
        <rules>
            <name>StageName_is_Withdrawn_and_send_CANCELED_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_Withdrawn</targetReference>
            </connector>
            <label>StageName is Withdrawn and send CANCELED Status</label>
        </rules>
        <rules>
            <name>When_isRejected_field_is_true_send_REJECTED_status</name>
            <conditionLogic>((1 AND 2) OR (4 AND 5)) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsRejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsRejected__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_Rejected</targetReference>
            </connector>
            <label>When isRejected field is true send REJECTED status</label>
        </rules>
        <rules>
            <name>When_isDisbursed_field_is_true_send_DISBURSED_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hero_IsDisbursed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hero_Disbursed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_Disbursed</targetReference>
            </connector>
            <label>When isDisbursed field is true send DISBURSED status</label>
        </rules>
    </decisions>
    <description>Added TAFE -Changes</description>
    <environments>Default</environments>
    <interviewLabel>OLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLA Reverse Status API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_of_loan_application_and_call_Reverse_Status_API_for_OLA</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OLA</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hero</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAFE</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isAgreementSigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StatusName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
