ProdIND/ProdLWC - Copy/force-app/main/default/flows/Update_case_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_update_collection</name>
        <label>Add to update collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Update_case</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Each_Log_0</name>
        <label>Assign Each Log</label>
        <locationX>440</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Each_log.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_log.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Proposal_Log_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Logs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_cases</name>
        <label>Update cases</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Each_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application withdrawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Logs_0</name>
        <label>Update Logs</label>
        <locationX>440</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Update_log</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Proposal_Log_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update case record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update case record</label>
    <loops>
        <name>loop_CAM</name>
        <label>loop CAM</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>get_CAM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Proposal_Log_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Proposal_Logs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_cases</name>
        <label>Loop_cases</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>get_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_cases_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Proposal_Log_0</name>
        <label>Loop Proposal Log</label>
        <locationX>352</locationX>
        <locationY>1214</locationY>
        <collectionReference>get_Proposal_Log_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Each_Log_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_CAM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CAM</name>
        <label>get CAM</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CAM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_cases</name>
        <label>get cases</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Proposal_Log_0</name>
        <label>get Proposal Log</label>
        <locationX>352</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Proposal_Log_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_CAM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_CAM.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Proposal_Approval_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_cases_record</name>
        <label>Update cases record</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>get_CAM</targetReference>
        </connector>
        <inputReference>Update_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proposal_Logs_0</name>
        <label>Update Proposal Logs</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <inputReference>Update_log</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>camRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAM__c</objectType>
    </variables>
    <variables>
        <name>Each_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Each_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal_Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Update_case</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Update_log</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal_Approval_Log__c</objectType>
    </variables>
</Flow>
