ProdIND/ProdPrograms/force-app/main/default/flows/Incident_Management_flow_for_custom_buttons.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_affected_userid</name>
        <label>Assign affected userid</label>
        <locationX>238</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>NotificationReceipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>affectedUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_to_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNotificationReceipients</name>
        <label>Set Notification Receipients</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>NotificationReceipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Incident_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AcceptbuttonL1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>acceptl1</stringValue>
        </value>
    </constants>
    <constants>
        <name>acceptButtonL2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>accept2</stringValue>
        </value>
    </constants>
    <constants>
        <name>AssignedtoL1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assigned to L1</stringValue>
        </value>
    </constants>
    <constants>
        <name>AssignedtoL2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assigned to L2</stringValue>
        </value>
    </constants>
    <constants>
        <name>AssignedtoL2btn</name>
        <dataType>String</dataType>
        <value>
            <stringValue>assignedtol2</stringValue>
        </value>
    </constants>
    <constants>
        <name>AssigntoL1btn</name>
        <dataType>String</dataType>
        <value>
            <stringValue>assignedtol1</stringValue>
        </value>
    </constants>
    <constants>
        <name>IncidentRecordtypename</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incident</stringValue>
        </value>
    </constants>
    <constants>
        <name>Inprogressl2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>inprogressl2</stringValue>
        </value>
    </constants>
    <constants>
        <name>L1queuename</name>
        <dataType>String</dataType>
        <value>
            <stringValue>L1_Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>L1Status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress - L1</stringValue>
        </value>
    </constants>
    <constants>
        <name>L2queuename</name>
        <dataType>String</dataType>
        <value>
            <stringValue>L2_Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>L2Status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress - L2</stringValue>
        </value>
    </constants>
    <constants>
        <name>newincidentcreation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>newincident</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Case_status</name>
        <label>Check Case status</label>
        <locationX>842</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_in_L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L1Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignedtoL2btn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_0_0</targetReference>
            </connector>
            <label>Case in L1</label>
        </rules>
        <rules>
            <name>Case_in_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L2Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssigntoL1btn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_0</targetReference>
            </connector>
            <label>Case in L2</label>
        </rules>
        <rules>
            <name>Case_Assigned_to_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignedtoL2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inprogressl2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0</targetReference>
            </connector>
            <label>Case Assigned to L2</label>
        </rules>
        <rules>
            <name>Accept_Case_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignedtoL1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptbuttonL1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0_0</targetReference>
            </connector>
            <label>Accept Case 1</label>
        </rules>
        <rules>
            <name>Accept_Case_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignedtoL2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>acceptButtonL2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0_0_0</targetReference>
            </connector>
            <label>Accept Case L2</label>
        </rules>
        <rules>
            <name>New_Incident_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newincidentcreation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0_0_0_0_0</targetReference>
            </connector>
            <label>New Incident creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>1370</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident_Record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IncidentRecordtypename</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_status</targetReference>
            </connector>
            <label>Incident Record type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Incident Management flow for custom buttons {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident Management flow for custom buttons</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Current Case Record</label>
        <locationX>1370</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>affectedUserId</assignToReference>
            <field>Affected_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNo</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID_0</name>
        <label>Get Queue ID</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L1queuename</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID_0_0</name>
        <label>Get Queue ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L2queuename</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flowbypassvalidationdatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned to L1</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flowbypassvalidationdatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress - L2</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0_0</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flowbypassvalidationdatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress - L2</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0_0_0</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>SetNotificationReceipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flowbypassvalidationdatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned to L2</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0_0_0_0</name>
        <label>Update Case</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Affected_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notification_to_user</name>
        <label>Notification to affected user</label>
        <locationX>70</locationX>
        <locationY>1141</locationY>
        <flowName>Case_User_Notification</flowName>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>NotificationbodyForL2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Case_ID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseNo</name>
            <value>
                <elementReference>CaseNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationReceipients</name>
            <value>
                <elementReference>NotificationReceipients</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Incident_Notification</name>
        <label>Send Incident Notification</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Assign_affected_userid</targetReference>
        </connector>
        <flowName>Incident_Notification</flowName>
        <inputAssignments>
            <name>Case_ID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseNo</name>
            <value>
                <elementReference>CaseNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationReceipients</name>
            <value>
                <elementReference>NotificationReceipients</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>NotificationbodyForL2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your case {!CaseNo} has been assigned to L2 Team.</text>
    </textTemplates>
    <variables>
        <name>affectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buttonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID_O_p</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationReceipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
