ProdIND/ProdPrograms/force-app/main/default/flows/Reverse_API_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_LoanID_statusName_status_Code_to_API</name>
        <label>Send LoanID statusName status Code to API</label>
        <locationX>621</locationX>
        <locationY>676</locationY>
        <actionName>IntegrationEngine</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>code</name>
            <value>
                <elementReference>StatusCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoanId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationEngine</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Status_of_loan_application_and_call_Reverse_Status_API</name>
        <label>Check Status of loan application and call Reverse Status API</label>
        <locationX>610</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Sanction_Date_is_populated_send_SANCTIONED_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SANCTIONED</targetReference>
            </connector>
            <label>When Sanction Date is populated send SANCTIONED status</label>
        </rules>
        <rules>
            <name>StageName_is_Withdrawn_and_send_CANCELED_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CANCELED</targetReference>
            </connector>
            <label>StageName is Withdrawn and send CANCELED Status</label>
        </rules>
        <rules>
            <name>StageName_is_Credit_Processing_and_Send_Under_Process_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UNDER_PROCESS</targetReference>
            </connector>
            <label>StageName is Credit Processing and Send Under Process Status</label>
        </rules>
        <rules>
            <name>When_isRejected_field_is_true_send_REJECTED_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsRejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsRejected__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REJECTED</targetReference>
            </connector>
            <label>When isRejected field is true send REJECTED status</label>
        </rules>
    </decisions>
    <description>This flow is use to make MSIL reverse status call for APPLIED SANCTIONED REJECTED CANCELLED API callout</description>
    <environments>Default</environments>
    <interviewLabel>Reverse API Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSIL Reverse Status API for APPLIED SANCTIONED 27_06_24</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CANCELED</name>
        <label>CANCELED</label>
        <locationX>428</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CANCELED</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>REJECTED</name>
        <label>REJECTED</label>
        <locationX>858</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REJECTED</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>The applied status will be send after SANCTIONED date stamped on Loan application.</description>
        <name>SANCTIONED</name>
        <label>SANCTIONED</label>
        <locationX>1178</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SANCTIONED</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>The applied status will be send when stage name is credit processing</description>
        <name>UNDER_PROCESS</name>
        <label>UNDER_PROCESS</label>
        <locationX>198</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_LoanID_statusName_status_Code_to_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UNDER_PROCESS</stringValue>
            </value>
        </filters>
        <object>MSIL_Reverse_Status_Code__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCode</assignToReference>
            <field>Status_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StatusName</assignToReference>
            <field>Status_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>492</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Status_of_loan_application_and_call_Reverse_Status_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital-MSIL-Custom</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
